



.offerjs   {   background-color: lightgreen;
                padding: 0.2rem;
                padding-left: 0.5rem;
                margin-left: 0.5rem;

        }

.appjs     {   background-color: lightsalmon;
                padding: 0.2rem;
                padding-left: 0.5rem;
                margin-left: 0.5rem;
            
        }
        
.app2js    {   background-color: lightseagreen;
                padding: 0.2rem;
                padding-left: 0.5rem;
                margin-left: 0.5rem;
        }
                

#hellojs {  background-color: rgb(253, 209, 87);
                padding: 0.2rem;
                padding-left: 0.5rem;
                margin-left: 0.5rem;

        }